<h2>Movie show</h2>

<div style="width: 33.333%;">
  <ul>

<li> Title:{{ movie.title }} </li>
<li> Genre: {{ movie.genre }}</li>
<li> Plot:{{ movie.plot }} </li>

</ul>

      <a href = "/movies">
        Back to Movie Inventory
      </a>
</div>